playlists.txt
Playlists\
*.mp3
*.txt
/Playlists/Playlist3/
/Playlists/Playlist1/
/Playlists/TheBestest/
/Playlists/Wish You Were Here/
/Playlists/Playlist3/
/Playlists/Playlist1/
/Playlists/TheBestest/
/Playlists/Wish You Were Here/
*.jar
*.jar
